* {
    margin: 0;
    padding: 0;
}
.body {
    width: 100vh;
    height: 100%;
}
.header {
    display: flex;
    width: 100%;
    height: 40px;
}
.namehead {
    display: flex;
    position: fixed;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    background-color: #0d0366 ;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.namehead a:hover {
    background-color: white;
    border-radius: 12px;
    border-color: black;
}
.head {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8em;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    text-shadow: 12px;
}
.main-content {
    display: flex; 
    height: 80vh;
    margin:40px 50px;
}
.tugassti {
    height: 100vh ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    padding: 20px ;
}
.subhead h3 {
    display: flex;
    flex-direction: row;
    padding:15px 5px 5px 10px
}

.tugas1 {
    width: 80px;
    height: 80px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent ;
    background-size: 80px;
    border-radius: 10px;
    transition: all .10s ease-in-out;
    margin: 10px 10px 10px 15px;
    cursor: pointer;
}
.tugas1 img {
    width: 80px;
} 
.tugas1 a{
    text-decoration: none;
}
.tugas1 h4 {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.tugas1:hover {
    width: 85px;
    height: 110px;
    background-color: #0996CE;
    border-color: #0996CE;
    transition: all .10s ease-in-out;
}
@media screen and (max-width:470px) {
    .body {
        width:100px;
        height: 100vh;
    }
    .namehead {
        font-size: 70%;
    }
    .tugassti {
        font-size: 1.4em;
    }
    .tugas1 img {
        width: 60px;
    }
    .tugas1 h4 {
        font-size: 12px;
    }
}
